.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

/* .App {
  border: solid 1px white;
} */

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

/* .web {
  border: solid 1px white;
} */

.App-link {
  color: #61dafb;
}

.img_ejemplo {
  position: absolute;
  bottom: 30%;
  left: 20%;
  transform: scale(1.5);
}

.num_ejemplo {
  position: absolute;
  top: 20%;
  left: 21%;
  font-size: 100px;
  margin: 0;
}

.points {
  position: absolute;
  top: 0%;
  left: 50%;
  font-size: 50px;
  margin: 0;
  color: orange;
}

.timer {
  position: absolute;
  top: 0%;
  left: 70%;
  font-size: 50px;
  margin: 0;
  color: red;
}

.btn {
  position: absolute;
  top: 5%;
  left: 17%;
  font-size: 50px;
  margin: 0;
  color: orange;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
