* {
  margin: 0;
  padding: 0;
}

/* .img_ejemplo {
  position: absolute;
  top: 30%;
  left: 25%;
  transform: scale(1.5);
}

.num_ejemplo {
  position: absolute;
  top: 27%;
  left: 10%;
  font-size: 100px;
  margin: 0;
}

.points {
  position: absolute;
  top: 0%;
  left: 50%;
  font-size: 50px;
  margin: 0;
  color: orange;
}

.timer {
  position: absolute;
  top: 0%;
  left: 70%;
  font-size: 50px;
  margin: 0;
  color: red;
}

.btn-start {
  position: absolute;
  top: 55%;
  left: 17%;
  font-size: 50px;
  margin: 0;
  color: orange;
}

.btn-exit {
  position: absolute;
  bottom: 10%;
  left: 19%;
  font-size: 50px;
  margin: 0;
  color: orange;
} */

















/* .btn-dz {
  position: absolute;
  top: 25%;
  left: 17%;
  font-size: 50px;
  margin: 0;
  color: orange;
}

.btn-save {
  position: absolute;
  bottom: -53.5%;
  left: 65%;
  font-size: 50px;
  margin: 0;
  color: orange;
}

.btn-reset {
  position: absolute;
  bottom: 20%;
  left: 10%;
  font-size: 50px;
  margin: 0;
  color: orange;
} */

/* 
form {
  position: absolute;
  top: 10%;
  left: 15%;
  font-size: 20px;
  margin: 0;
  color: black;
  display: flex;
  flex-direction: column;
  gap: 15px;
} */
