* {
  margin: 0;
  padding: 0;
}

.box span:nth-child(1) {
  --i: 1;
}
.box span:nth-child(2) {
  --i: 2;
}
.box span:nth-child(3) {
  --i: 3;
}
.box span:nth-child(4) {
  --i: 4;
}
.box span:nth-child(5) {
  --i: 5;
}
.box span:nth-child(6) {
  --i: 6;
}
.box span:nth-child(7) {
  --i: 7;
}
.box span:nth-child(8) {
  --i: 8;
}
.box span:nth-child(9) {
  --i: 9;
}
.box span:nth-child(10) {
  --i: 10;
}

.body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #000;
  transform-style: preserve-3d;
  transition: 1000ms;
}

.btns2 {
  position: absolute;
  top: 100px;
  display: flex;
  /* gap: 30px; */
  color: #fff;
}

.btns2 .player {
  position: absolute;
  left: -250px;
  display: flex;
  gap: 30px;
  font-size: 30px;
}

.btns2 .player input {
  font-size: 30px;
  color: #fff;
  background-color: #0000;
  border: 2px solid #fff;
  border-radius: 7px;
  padding: 2px;
  padding-left: 7px;
}

.btns2 button {
  position: absolute;
  left: 400px;
  display: flex;
  gap: 30px;
  font-size: 30px;
  padding: 10px;
  background-color: #000;
  color: #fff;
  border: 2px solid #fff;
  border-radius: 7px;
  cursor: pointer;
}

.btns2 button:hover {
  background-color: #fff;
  color: #000;
  border: 2px solid #000;
}

.box {
  position: relative;
  width: 170px;
  height: 170px;
  transform-style: preserve-3d;
  transition: 1500ms;
  /* transform: perspective(1000px) rotateY(0deg); */
}

.box span {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform-origin: center;
  transform-style: preserve-3d;
  transform: rotateY(calc(var(--i)* 36deg)) translateZ(calc(var(--i)* 5px + 300px));
  -webkit-box-reflect: below 0px linear-gradient(transparent, transparent, #0004);
}

.box span img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
  user-select: none;
  /* opacity: 0.9; */
}

.body:has(.box span:nth-child(1) img:hover), .body:has(.box span:nth-child(2) img:hover), .body:has(.box span:nth-child(6) img:hover) {
  background-color: rgba(240, 128, 128, 1);
}

.body:has(.box span:nth-child(3) img:hover), .body:has(.box span:nth-child(5) img:hover), .body:has(.box span:nth-child(8) img:hover) {
  background-color: rgba(0, 0, 255, 1);
}

.body:has(.box span:nth-child(4) img:hover) {
  background-color: rgba(255, 166, 0, 1);
}

.body:has(.box span:nth-child(7) img:hover), .body:has(.box span:nth-child(9) img:hover) {
  background-color: rgba(0, 128, 0, 1);
}

.body:has(.box span:nth-child(10) img:hover) {
  background-color: rgba(128, 0, 128, 1);
}

.btns {
  position: absolute;
  bottom: 100px;
  display: flex;
  gap: 30px;
}

.btns .btn {
  position: relative;
  width: 60px;
  height: 60px;
  border: 2px solid #fff;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.btns .btn:active {
  background-color: #fff;
}

.btns .btn::before {
  content: "";
  position: absolute;
  width: 15px;
  height: 15px;
  border-top: 3px solid #fff;
  border-right: 3px solid #fff;
  transform: rotate(45deg) translate(-2.5px, 2.5px);
}

.btns .btn:active:before {
  border-top: 3px solid #000;
  border-right: 3px solid #000;
}

.btns .btn.prev::before {
  transform: rotate(225deg) translate(-2.5px, 2.5px);
}